/* 공통적으로 사용되는 css 영역 */
.container{
    width: 1280px;
    margin: 0 auto;
    /* border: 1px solid #666; */
}
body{
    background-color: #eee;
}

/* 헤더영역 */
nav{
    height: 60px;
}
.gnb_wrap{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.gnb_wrap h1{
    font-size: 26px;
}
.gnb_menu{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gnb_menu li{
    font-size: 16px;
    position: relative;
}
.sub { 
    display: none;
    position: absolute; 
    top: 30px; 
    left: -10px; 
    z-index: 1;
    /* opacity: 0.8;  */
}
.sub li{
    width: inherit;
    padding: 10px;
    width: 130PX;
    background-color: #ccc;
    /* padding: 20px; */
    margin-left: -30px;
    display: block;
}

.gnb_right{
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

/* 아이콘 gnb 우측 영역은 아이콘을 정하고 나서 추가후 제작 예정 */
.search{
    border-bottom: 1px solid #555;
    width: 30px;
    text-align: right;
    transition: .5s all;
}
.search::after{
    content: '\f002';
    font-family: FontAwesome;
    font-size: 16px;
}
.search.active{
    width: 300px;
}
.gnb_right>div:nth-child(1):hover{
    border-bottom: 1px solid #555;
    width: 300px;
}
.gnb_right i {
    font-size: 16px;
    margin-left: 20px;
}
.gnb_right .user{
    position: absolute;
    z-index: 10;
    background-color: #555;
    width: 200px;
    height: 100px;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .2s;
}
.gnb_right .user.active{
    opacity: 1;
    z-index: 100;
}
.gnb_right .user a{
    font-size: 16px;
    color: #fff;
}
/* 메인 영역 */
.slide_banner{
    width: 99vw;
    height: calc(100vh - 70px);
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.slide_content{
    display: flex;
    align-items: center;
    transition: 1s;
}
.slide_content div{
    height: calc(100vh - 62px);
    width: 100vw;
}
.slide_content div img{
    height: inherit;
    width: inherit;
}
.slide_item{
    transition: .5s all;
    position: relative;
}
.slide_item div{
    position: absolute;
    z-index: 100;
    color: white;
    top: 50%;
    left: 30%;
    width: 500px;
}
.slide_item div h2{
    font-size: 5em;
}
.slide_item div p{
    font-size: 2em;
}
.slide_banner .slide_btn{
    position: absolute;
    z-index: 2;
    width: 20vw;
    height: inherit;
    /* border: 3px solid black; */

}
.slide_prev{
    left: 0;

}
.slide_next{
    right: 0;
 
}
/* 2번 메인컨텐츠 영역 - 할인,행사중인 컨텐츠 영역 */
.discount{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 80px;
    padding-top: 50px;
    box-sizing: border-box;
    /* background-color: #555; */
    text-align: center;
}
.discount h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}
.discount div{
    /* width: inherit; */
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 30px;
}
.discount_main{
    height: 50%;
    flex-grow: 3;
    position: relative;
    background-color: #eee;
    border-radius: 2rem;
    box-shadow: #ccc 10px 10px 10px;
    z-index: -2;

}
.discount_main img{
    width: 500px;
    position: absolute;
    top: 20%;
    left: -50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: .3s;
    z-index: 100;
    transform: scale(2);
    z-index: -1;
}
.discount_main .active{
    opacity: 1;
}
.discount_side{
    padding: 100px 0;
    box-sizing: border-box;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.discount_side div{
    transition: .3s;
    background-color: #eee;
    border-radius: 1rem;
    z-index: 10;
}
.discount_side div:nth-child(1){
    background-image: url("../IMG/spring.jpg");
    background-position: 80%;
}
.discount_side div:nth-child(2){
    background-image: url("../IMG/people.jpg");
    background-position: 80%;
}
.discount_side div:nth-child(2){
    color: white;
    text-shadow: #333 1px 1px 1px;
}
.discount_side div:nth-child(3){
    background-image: url("../IMG/lenovo_legion.jpg");
    background-position: 30%;
    background-size: 130%;
}
.discount_side div:nth-child(3){
    color: white;
    text-shadow: #333 1px 1px 1px;
}
.discount_side div h3{
    font-size: 30px;
}
.discount_side .active{
    transform: translateX(-10%);
    background-color: #ccc;
    box-shadow: #aaa 10px 10px 10px;
}

/* 추천영역 */
.recommendation{
    width: 100vw;
    height: 800px;
    margin: 0 auto;
    padding: 50px 10vw;
    box-sizing: border-box;
    margin-top: 100px;
    background-color: #dfdff7;
}
.recommendation h2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.recommendation>div{
    width: 100%;
    height: 600px;
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
/* 추천상품 메인이미지 영역 */
.recommend_main{
    flex-grow: 7;
    background-color: #ccc;
    border-radius: 1rem;
    background-image: url('../IMG/wallpaper_1.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 300%;
    transition: .5s all;
}
.recommend_main:hover{
    background-size: 200%;
}
/* 추천상품 사이드 영역 */
.recommend_side{
    flex-grow: 1;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px 30px;
    box-sizing: border-box;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #6667ab;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}
.recommend_side:nth-child(3){
    align-items: flex-end;
}
.recommend_side h4{
    font-size: 16px;
    position: relative;
    max-width: 200px;
}
.recommend_side h4:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ccc;
    bottom: -10px;
    transition: .5s all;
}
.recommend_side:nth-of-type(1) h4:after{
    left: 0;
}
.recommend_side:nth-of-type(3) h4:after{
    right: 0;
}
.recommend_side h4.active:after{
    width: 250%;
    background-color: #000;
}
.recommend_side h4:hover:after{
    width: 250%;
    background-color: #000;
}

/* 브랜드별 시리즈 소개 */
.series_info{
    width: 1280px;
    margin: 0 auto;
    margin-top: 50px;
}
.brand_series_info{
    width: 100%;
    height: 720px;
    margin-top: 150px;
}
.brand_series_info h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.brand_products_img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 130%;
    position: relative;
    transition: .3s;
    border-radius: 3rem;
    box-shadow: 10px 10px 10px #dfdff7;
}
.samsung .brand_products_img{
    background-image: url('../IMG/sam1.jpg');
}
.lg .brand_products_img{
    background-image: url('../IMG/wallpaper_4.jpg');
}
.apple .brand_products_img{
    background-image: url('../IMG/apple1.jpg');
}
.brand_products_img div{
    position: absolute;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    justify-content: space-around;
    box-sizing: border-box;
    background: linear-gradient(to right, rgba(26, 26, 26, 0.8), rgba(0,0,0,0));
    border-radius: 3rem;
}
.brand_products_img div h4{
    font-size: 18px;
    color: #fff;
    padding: 30px;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s;
}
.brand_products_img div h4.active{
    font-size: 24px;
    transform: translateX(10%);
    text-shadow: 0 0 10px rgba(255, 217, 0, 1);
}

/* footer */
footer{
    width: inherit;
    height: 150px;
    margin-top: 150px;
    padding: 30px;
    background-color: #333;
    color: #fff;
    font-size: 12px;
}
footer .container{
    height: 100%;
}
footer .container>span{
    margin-right: 15px;
}
footer .container div{
    display: flex;
    gap: 20px;
}
footer .container div:nth-of-type(1){
    margin-top: 10px;
}
