/* 공통적으로 사용되는 css 영역 */
.container{
    width: 1280px;
    margin: 0 auto;
    /* border: 1px solid #666; */
}

/* 헤더영역 */
nav{
    height: 60px;
}
.gnb_wrap{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.gnb_wrap h1{
    font-size: 26px;
}
.gnb_menu{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gnb_menu li {
    padding: 5px;
    position: relative;
    font-size: 16px;
}
.gnb_menu li::before {
    content: '';
    position: absolute;
    background-color: red;
    width: 0px;
    height: 3px;
    bottom: 0;
    transition: .5s;
}
.gnb_menu li:hover::before{
    content: '';
    position: absolute;
    background-color: red;
    width: 60px;
    height: 3px;
    bottom: 0;
}
.gnb_right{
    width: 500px;
    display: flex;
    justify-content: flex-end;
}
/* 아이콘 gnb 우측 영역은 아이콘을 정하고 나서 추가후 제작 예정 */
.gnb_right>div:nth-child(1){
    border-bottom: 1px solid #555;
    width: 50px;
    text-align: right;
    transition: .5s all;
}
.gnb_right>div:nth-child(1):hover{
    border-bottom: 1px solid #555;
    width: 300px;
}
.icon{
    width: 20px;
    height: 20px;
    background-color: #666;
    text-align: center;
    margin: 0 15px;
}

/* 메인 영역 */
.slide_banner{
    width: 99vw;
    height: calc(100vh - 70px);
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.slide_content{
    display: flex;
    align-items: center;
    transition: 1s;
}
.slide_content div{
    height: calc(100vh - 62px);
    width: 100vw;
}
.slide_content div img{
    height: inherit;
    width: inherit;
}
.slide_item{
    transition: .5s all;
    position: relative;
}
.slide_item div{
    position: absolute;
    z-index: 100;
    color: white;
    top: 50%;
    left: 30%;
    width: 500px;
}
.slide_item div h2{
    font-size: 5em;
}
.slide_item div p{
    font-size: 2em;
}
.slide_banner .slide_btn{
    position: absolute;
    z-index: 2;
    width: 20vw;
    height: inherit;
    /* border: 3px solid black; */

}
.slide_prev{
    left: 0;

}
.slide_next{
    right: 0;
 
}
/* 2번 메인컨텐츠 영역 - 할인,행사중인 컨텐츠 영역 */
.discount{
    width: 1280px;
    height: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 80px;
    padding-top: 50px;
    box-sizing: border-box;
    /* background-color: #555; */
    text-align: center;
}
.discount h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}
.discount div{
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 30px;
}
.discount_main{
    flex-grow: 7;
    position: relative;
    background-color: #eee;
    border-radius: 2rem;
}
.discount_main img{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: .3s;
}
.discount_main .active{
    opacity: 1;
}
.discount_side{
    padding: 100px 0;
    box-sizing: border-box;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.discount_side div{
    transition: .3s;
    background-color: #eee;
    border-radius: 1rem;
    z-index: 10;
}
.discount_side div h3{
    font-size: 30px;
}
.discount_side .active{
    transform: translateX(-10%);
    background-color: #ccc;
}